@model IEnumerable<FileMetadata>

@{
    ViewData["Title"] = "Documents";
}

<a asp-action="Upload" class="btn btn-success"><i class="bi bi-plus-circle"></i> Upload New File</a>
<br />
<br />

<form asp-controller="Files" asp-action="Index" method="get">
    <div class="input-group mb-3">
        <input type="text" class="form-control" name="searchString" placeholder="Search by file name" value="@ViewData["CurrentFilter"]" />
        <div class="input-group-append">
            <button class="btn btn-outline-secondary" type="submit">Search</button>
        </div>
    </div>
</form>

<div class="panel panel-primary">
    <div class="panel-heading text-center">DOCUMENT LIST </div>
    <div class="panel-body">
        <table class="table table-striped-columns">
            <thead>
                <tr class="info">
                    <th>File Name</th>
                    <th>Upload Date</th>
                    <th>Actions</th>
                </tr>
            </thead>
            <tbody>
                @foreach (var item in Model)
                {
                    <tr>
                        <td>@item.FileName</td>
                        <td>@item.UploadDate</td>
                        <td>
                            <a asp-controller="Files" asp-action="Details" asp-route-id="@item.Id" class="btn btn-primary">View</a>
                        </td>
                    </tr>
                }
            </tbody>
        </table>
    </div>
</div>